ion-app.ios,
.content-ios {
    background: #fafafa;
}


.toolbar-title-ios {
    color: #fff;
}



.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: #fff;
}

.justify-content {
    display: flex;
    justify-content: space-between;
}


.picker-toolbar-button{
    text-align: start !important;
}
.picker-toolbar-button+ .picker-toolbar-button{
    text-align: end !important;
}

.picker-toolbar{
    display: flex;
    justify-content:space-between !important;
}



